In [1]:
import glob
import pandas as pd
merge_file = []

In [5]:
glob.glob('*.csv')

[]

In [39]:
for file_name in glob.glob('*.csv'):
    csv_files = pd.read_csv(file_name)
    merge_file.append(csv_files)
df = pd.concat(merge_file,ignore_index=True)

In [40]:
# final_raw.groupby()
pd.pivot_table(df, values = 'diff', index=['city_name'], columns = 'autopay_date',aggfunc='sum').reset_index()

autopay_date       city_name  2023-12-29   2023-12-30   2023-12-31  2024-01-01
0                   HCM City  37054500.0  118645000.0  110327500.0  22008500.0
1                Ha Noi City  27151500.0   86860000.0   69645000.0  14409500.0
2             Hai Phong City         NaN    2515500.0    2250000.0         NaN

In [13]:
df.to_csv('final_file.csv',encoding='utf-8-sig')